<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ode</title>
    <link rel="stylesheet" href="/public/assets/css/base.css" />
    <link rel="stylesheet" href="/public/assets/css/prosemirror.css" />
    <link rel="stylesheet" href="/public/assets/css/editing.css" />
  </head>

  <body class="layout">
    <header>
      <span class="operations">
        <pre class="document-title-computer" data-document-title-computer></pre>
        <span class="document-title" tabindex="0" data-document-title></span>
        <input type="text" data-document-title-input hidden aria-hidden />
        <button type="button" class="text-only" data-share-button>Share</button>
      </span>
      <a href="/">
        Home
      </a>
    </header>
    <main>
      <div class="toolbar" data-toolbar>
        <button data-toolbar-mark="strong">
          <svg width="12" height="12" viewBox="0 0 8 10">
            <path
              d="M6.39996 5.19341C7.04663 4.74675 7.49996 4.01341 7.49996 3.33341C7.49996 1.82675 6.33329 0.666748 4.83329 0.666748H0.666626V10.0001H5.35996C6.75329 10.0001 7.83329 8.86675 7.83329 7.47341C7.83329 6.46008 7.25996 5.59341 6.39996 5.19341ZM2.66663 2.33341H4.66663C5.21996 2.33341 5.66663 2.78008 5.66663 3.33341C5.66663 3.88675 5.21996 4.33341 4.66663 4.33341H2.66663V2.33341ZM4.99996 8.33341H2.66663V6.33341H4.99996C5.55329 6.33341 5.99996 6.78008 5.99996 7.33341C5.99996 7.88675 5.55329 8.33341 4.99996 8.33341Z"
            ></path>
          </svg>
        </button>
        <button data-toolbar-mark="em">
          <svg width="12" height="12" viewBox="0 0 8 10">
            <path
              d="M2.66667 0.666748V2.66675H4.14L1.86 8.00008H0V10.0001H5.33333V8.00008H3.86L6.14 2.66675H8V0.666748H2.66667Z"
            ></path>
          </svg>
        </button>
        <button data-toolbar-mark="link">
          <svg width="16" height="16" viewBox="0 0 14 8">
            <path
              d="M1.60004 4.00008C1.60004 2.86008 2.52671 1.93341 3.66671 1.93341H6.33337V0.666748H3.66671C1.82671 0.666748 0.333374 2.16008 0.333374 4.00008C0.333374 5.84008 1.82671 7.33341 3.66671 7.33341H6.33337V6.06675H3.66671C2.52671 6.06675 1.60004 5.14008 1.60004 4.00008ZM4.33337 4.66675H9.66671V3.33341H4.33337V4.66675ZM10.3334 0.666748H7.66671V1.93341H10.3334C11.4734 1.93341 12.4 2.86008 12.4 4.00008C12.4 5.14008 11.4734 6.06675 10.3334 6.06675H7.66671V7.33341H10.3334C12.1734 7.33341 13.6667 5.84008 13.6667 4.00008C13.6667 2.16008 12.1734 0.666748 10.3334 0.666748Z"
            ></path>
          </svg>
        </button>
        <button data-toolbar-type="heading1">
          <svg
            width="16"
            height="16"
            version="1.1"
            viewBox="0.4906645999113106 1.1330255979857409 12.97130717582889 8.395202741290698"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs>
              <path id="d" d="m2.05 9.53v-8.4" />
              <path id="b" d="m7.08 5.33h-5.03" />
              <path id="g" d="m7.08 9.53v-8.4" />
              <path id="c" d="m11.99 9.53v-8.4" />
              <path id="f" d="m9.65 3.34l2.11-1.64" />
              <path id="e" d="m13.46 9.53v-8.4" />
              <path id="a" d="m0.49 9.53v-8.4" />
            </defs>
            <use
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1.5"
              xlink:href="#d"
            />
            <use
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1.5"
              xlink:href="#b"
            />
            <use
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1.5"
              xlink:href="#g"
            />
            <use
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1.5"
              xlink:href="#c"
            />
            <use
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1.5"
              xlink:href="#f"
            />
            <use
              fill-opacity="0"
              stroke="#ffffff"
              stroke-opacity="0"
              stroke-width="1.5"
              xlink:href="#e"
            />
            <use
              fill-opacity="0"
              stroke="#ffffff"
              stroke-opacity="0"
              stroke-width="1.5"
              xlink:href="#a"
            />
          </svg>
        </button>
        <button data-toolbar-type="heading2">
          <svg width="18" height="18" viewBox="0 0 15 9">
            <path
              d="M7.25358 0.599999H5.70558V4.08H2.42958V0.599999H0.881578V9H2.42958V5.328H5.70558V9H7.25358V0.599999ZM14.4267 7.764H10.6467C11.1747 7.368 11.9307 6.852 12.4827 6.384C13.4307 5.568 14.3067 4.632 14.3067 3.312C14.3067 1.656 13.0587 0.816 11.4867 0.816C10.1067 0.816 9.01467 1.56 8.55867 3.072L9.83067 3.468C10.0827 2.472 10.6707 2.004 11.4627 2.004C12.3267 2.004 12.8067 2.508 12.8067 3.348C12.8067 4.212 12.3027 5.016 11.3667 5.796C10.9347 6.156 10.5027 6.528 10.0587 6.876C9.61467 7.224 9.06267 7.656 8.60667 8.112V9H14.4267V7.764Z"
            ></path>
          </svg>
        </button>
        <button data-toolbar-type="heading3">
          <svg width="18" height="18" viewBox="0 0 15 9">
            <path
              d="M7.25358 0.599999H5.70558V4.08H2.42958V0.599999H0.881578V9H2.42958V5.328H5.70558V9H7.25358V0.599999ZM14.4147 6.72C14.4147 5.904 13.9827 5.088 12.7347 4.728C13.7307 4.392 14.1987 3.648 14.1987 2.904C14.1987 1.644 13.0467 0.816 11.4987 0.816C10.1187 0.816 9.11067 1.608 8.60667 2.712L9.78267 3.204C10.1307 2.436 10.6827 1.944 11.4507 1.944C12.2907 1.944 12.7467 2.484 12.7467 3.06C12.7467 3.672 12.3267 4.32 11.2827 4.32H10.3107V5.424H11.3547C12.5667 5.424 12.9267 6.084 12.9267 6.684C12.9267 7.464 12.3507 8.016 11.3547 8.016C10.4787 8.016 9.85467 7.536 9.45867 6.744L8.29467 7.284C8.91867 8.532 9.93867 9.144 11.3187 9.144C13.0827 9.144 14.4147 8.196 14.4147 6.72Z"
            ></path>
          </svg>
        </button>
        <button data-toolbar-type="unordered_list">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              d="M2.5 4.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM7 2a1 1 0 0 0 0 2h7a1 1 0 1 0 0-2H7zM6 8a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1zM2.5 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM6 13a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1zm-3.5 1.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
            />
          </svg>
        </button>
        <button data-toolbar-type="ordered_list">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path
              xmlns="http://www.w3.org/2000/svg"
              d="M2.75 11a1.25 1.25 0 0 1 1 2 1.25 1.25 0 0 1-1 2H1v-1h1.75a.25.25 0 1 0 0-.5H2v-1h.75a.25.25 0 1 0 0-.5H1v-1h1.75zM14 12a1 1 0 1 1 0 2H7a1 1 0 1 1 0-2h7zM1 6.008h1.637a1.382 1.382 0 0 1 .92 2.414l-.117.092L2.76 9H4v1H1v-.972L2.859 7.7a.382.382 0 0 0-.148-.686l-.074-.007H1v-1zM14 7a1 1 0 0 1 .117 1.993L14 9H7a1 1 0 0 1-.117-1.993L7 7h7zM3 1v3h1v1H1V4h1V2H1V1h2zm11 1a1 1 0 0 1 .117 1.993L14 4H7a1 1 0 0 1-.117-1.993L7 2h7z"
            />
          </svg>
        </button>
      </div>
      <article></article>
    </main>
    <div data-focus-lock inert aria-hidden></div>
    <dialog
      hidden
      role="dialog"
      aria-modal="true"
      tabindex="-1"
      data-share-dialog
    >
      <h2>Sharing Settings</h2>
      <form id="shared-with" class="shared-with" data-shared-with-form></form>
      <form id="sharing-settings" data-sharing-settings-form></form>
      <div>
        <input
          id="public"
          form="sharing-settings"
          type="checkbox"
          name="public"
          data-share-public
        />
        <label for="public">Make this document public</label>
        <div class="shared-with">
          <label for="shared-with">Share with...</label>
          <input
            id="shared-with"
            form="shared-with"
            list="users"
            name="shared-with"
            type="text"
            data-shared-with-input
          />
          <button
            type="submit"
            form="shared-with"
            class="text-only"
            data-add-shared-with
          >
            Add
          </button>
          <datalist id="users" data-user-list></datalist>
        </div>
        <ul data-shared-with-list></ul>
        <div class="button-group" data-sharing-buttons>
          <button type="button" class="text-only" data-close>Cancel</button>
          <button
            type="sumbit"
            form="sharing-settings"
            class="primary"
            data-done
          >
            Done
          </button>
        </div>
      </div>
    </dialog>
    <script>
        window.PROTOCOL = '<%= PROTOCOL %>';
        window.DOMAIN = '<%= DOMAIN %>';
        window.APP_ID = '<%= APP_ID %>';
    </script>
    <script type="module" src="/public/assets/js/lib/editing.js"></script>
    <script type="module" src="/public/assets/js/lib/common.js"></script>
  </body>
</html>
