<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ode</title>
  <link rel="stylesheet" href="/public/assets/css/base.css">
  <link rel="stylesheet" href="/public/assets/css/home.css">
</head>

<body class="layout">
  <header>
    <span>Ode</span>
    <a href="/logout">
      Logout
    </a>
  </header>
  <main>
    <form data-new-document-form>
      <button type="submit" class="primary new-document">New Document</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Last Updated</th>
          <th>Created</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </main>
  <script>
    window.PROTOCOL = '<%= PROTOCOL %>';
    window.DOMAIN = '<%= DOMAIN %>';
    window.APP_ID = '<%= APP_ID %>';
  </script>
  <script type="module" src="/public/assets/js/lib/home.js"></script>
  <script type="module" src="/public/assets/js/lib/common.js"></script>
</body>

</html>
