<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ode</title>
  <link rel="stylesheet" href="/public/assets/css/base.css">
  <link rel="stylesheet" href="/public/assets/css/login.css">
</head>

<body class="layout">
  <header>
    <span>Ode</span>
  </header>
  <form data-auth-form="signup">
    <input id="email" name="email" data-email type="text">
    <input id="password" name="password" data-password type="password">
    <div class="button-group" data-signup-buttons>
      <button type="button" class="text-only" data-auth-form-toggle>Log In?</button>
      <button class="primary">Sign Up</button>
    </div>
    <div class="button-group" data-login-buttons hidden aria-hidden>
      <button type="button" class="text-only" data-auth-form-toggle>Sign up?</button>
      <button class="primary">Log In</button>
    </div>
  </form>
  <script>
    window.PROTOCOL = '<%= PROTOCOL %>';
    window.DOMAIN = '<%= DOMAIN %>';
    window.APP_ID = '<%= APP_ID %>';
  </script>
  <script type="module" src="/public/assets/js/lib/login.js"></script>
  <script type="module" src="/public/assets/js/lib/common.js"></script>
</body>

</html>
