<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ode</title>
  <link rel="stylesheet" href="/public/assets/css/base.css">
</head>

<body class="layout">
  <script>
    window.PROTOCOL = '<%= PROTOCOL %>';
    window.DOMAIN = '<%= DOMAIN %>';
    window.APP_ID = '<%= APP_ID %>';
  </script>
  <script type="module" src="/public/assets/js/lib/logout.js"></script>
  <script type="module" src="/public/assets/js/lib/common.js"></script>
</body>

</html>
