@font-face {
  font-family: adobe-garamond-pro;
  src: url("/public/assets/fonts/adobe-garamond-pro.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

html {
  --foreground: #F8FDFF;
  --background: #E3F5FF;
  --text-primary: #303E46;
  --primary: #28536C;
  --secondary: var(--background);
  --accent: #062B41;
  --transparent-accent: rgba(6, 43, 65, 0.24);
  --white: #FFF;

  --spacing0: 0rem;
  --spacing0-5: 0.25rem;
  --spacing1: 0.5rem;
  --spacing1-5: 0.75rem;
  --spacing2: 1rem;
  --spacing2-5: 1.25rem;
  --spacing3: 1.5rem;
  --spacing4: 2rem;
  --spacing5: 2.5rem;
  --spacing6: 3rem;
  --spacing7: 3.5rem;
  --spacing8: 4rem;
  --spacing9: 4.5rem;
  --spacing10: 5rem;
  --spacing11: 5.5rem;
  --spacing12: 6rem;
  --spacing13: 6.5rem;
  --spacing14: 7rem;
  --spacing15: 7.5rem;
  --spacing16: 8rem;

  --border-width: 1px;
  --box-shadow1: 0 2px 16px rgba(0, 0, 0, 0.24);
  --box-shadow2: 0 1px 8px rgba(0, 0, 0, 0.24);
  --box-shadow3: 0 1px 2px rgba(0, 0, 0, 0.24);

  background-color: var(--foreground);
  color: var(--text-primary);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}

.layout {
  display: grid;
  grid-column-gap: var(--spacing3);
  max-width: 1440px;
  margin: auto;
}

@media (min-width:1024px) {
  .layout {
    grid-template-columns: repeat(12, minmax(var(--spacing8), 1fr));
  }
}
@media (max-width:1023px) and (min-width:768px) {
  .layout {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width:767px) {
  .layout {
    grid-template-columns: repeat(2, minmax(176px, 1fr));
  }
}

header {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  justify-content: space-between;
  padding: var(--spacing2);
  background-color: var(--white);
  box-shadow: var(--box-shadow3);
  z-index: 2;
}

input[type="text"], input[type="password"] {
  font-size: 1rem;
  border: var(--border-width) solid var(--primary);
  border-radius: var(--spacing0-5);
  padding: var(--spacing1-5) var(--spacing2);
  margin-bottom: var(--spacing1);
  display: block;
  background-color: var(--foreground);
}

.button-group {
  margin-top: var(--spacing2);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

*[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
}

button.text-only {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--accent);
  font-size: 0.75rem;
}

button.primary {
  font-size: 1rem;
  border: none;
  border-radius: var(--spacing0-5);
  padding: var(--spacing1) var(--spacing2);
  background-color: var(--primary);
  color: var(--foreground);
}

button.primary:focus, button.primary:active {
  box-shadow: var(--box-shadow2);
}
