@media (max-width:767px) {
  header {
    height: calc(var(--spacing7));
  }
}

header .operations {
  display: flex;
  flex-grow: 1;
  height: calc(var(--spacing2) + 3px);
}

header input[type='text'] {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: var(--spacing0-5) var(--spacing1);
  /* Somewhat complex negative margin calculation to keep the text from shifting */
  margin: calc(-1 * (var(--spacing0-5) + (var(--border-width) * 2)))
    calc(-1 * (var(--spacing1) + var(--border-width)));
  display: inline-block;
}

header .operations .document-title {
  max-width: 240px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .document-title-computer {
  max-width: 240px;
  position: absolute;
  left: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

main {
  margin-top: var(--spacing14);
}

article {
  /* height: 100%; */
  background-color: var(--white);
  border: var(--border-width) solid var(--accent);
  border-bottom: none;
  border-top-right-radius: var(--spacing0-5);
  border-top-left-radius: var(--spacing0-5);
  z-index: 1;
}

@media (min-width: 1024px) {
  main {
    grid-column: 3 / 11;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main {
    grid-column: 2 / 6;
  }
}
@media (max-width: 767px) {
  main {
    grid-column: 1 / 3;
  }
}

h1 {
  font-size: 2rem;
}

select {
  /* Not great, lets us render select however we want though */
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Auto-generated class from prosemirror-view.EditorView */
.ProseMirror {
  padding: var(--spacing4);
  min-height: calc(100vh - (var(--spacing4) * 2));
}

.ProseMirror:focus {
  box-shadow: var(--box-shadow1);
  outline: none;
}

.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  padding-top: var(--spacing1);
}

@media (max-width:767px) {
  .toolbar {
    position: fixed;
    top: var(--spacing5);
    right: 0;
  }
}

.toolbar > button {
  background: none;
  border: none;
  border-radius: var(--spacing0-5);
  padding: var(--spacing1);
  margin: 0 var(--spacing0-5);
}

.toolbar > button:hover {
  cursor: pointer;
}

.toolbar > select {
  background: none;
  border: none;
  font-size: 1rem;
  margin-right: var(--spacing0-5);
}

.toolbar > button.active {
  background: var(--transparent-accent);
}

dialog {
  width: 40rem;
  top: var(--spacing12);
  border: var(--spacing0-5) solid var(--primary);
  border-radius: var(--spacing0-5);
  z-index: 10;
}

.shared-with > label {
  display: block;
}

.shared-with > input {
  display: inline-block;
}

a:not([href]) {
  background-color: var(--background);
}

.link-inspector-target {
  position: relative;
}

.link-inspector {
  position: absolute;
  transform: translate(-50%, 1.5rem);
  border: var(--spacing0-5) solid var(--primary);
  border-radius: var(--spacing0-5);
  padding: var(--spacing1);
  white-space: normal;
  width: max-content;
  background-color: var(--white);
}

.link-inspector input {
  display: inline-block;
  margin-bottom: 0;
  padding: var(--spacing0-5) var(--spacing1);
}

:not(.layout)[aria-hidden] {
  display: none;
}
