main {
  margin-top: var(--spacing14);
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  main {
    grid-column: 3 / 11;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main {
    grid-column: 2 / 6;
  }
}
@media (max-width: 767px) {
  main {
    grid-column: 1 / 3;
  }
}

table {
  display: block;
  background-color: var(--white);
  width: 100%;
  border: var(--border-width) solid var(--primary);
  border-radius: var(--spacing0-5);
  overflow-x: auto;
}

th {
  text-align: left;
}

td, th {
  padding: var(--spacing2) var(--spacing4);
}

.new-document {
  margin-bottom: var(--spacing2);
}
