@media (min-width:1024px) {
  form {
    grid-column: 5 / 9;
  }
}
@media (max-width:1023px) and (min-width:768px) {
  form {
    grid-column: 3 / 5;
  }
}
@media (max-width:767px) {
  form {
    grid-column: 1 / 3;
    margin: var(--spacing4);
  }
}

form {
  margin-top: 40vh;
}

input[type="text"], input[type="password"] {
  width: calc(100% - var(--border-width) - (var(--spacing2) * 2));
  background-color: var(--white);
}

button {
  margin-left: var(--spacing1);
}
